@using UsersAndRolesTutorial.Data
@model IEnumerable<User>


@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table">
	<thead>
	<tr>
		<th>Username</th>
		<th>Role name</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.UserName</td>
			<td>@user.UserRoles.FirstOrDefault()?.Role.Name</td>
		</tr>
	}
	</tbody>
</table>