@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Mvc.TagHelpers
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vidly</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		        aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
				</li>
				

				@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
				{
					@*TODO: add link to 'users' page here to edit users and roles*@

					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="ApplicationRoles" asp-action="Index">Roles</a>
					</li>

				}
			</ul>
			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>
