@using Microsoft.CodeAnalysis.Scripting
@{
	ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="new-rental">
	<div class="form-group mb-3">
		<label>Customer</label>
		<div class="tt-container">
			<input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" placeholder="Customer Name"/>
		</div>
	</div>
	
	<div class="form-group mb-3">
		<label>Movie</label>
		<div class="tt-container">
			<input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" placeholder="Movie Title"/>
		</div>
	</div>
	
	<div class="row mb-3">
		<div class="col-md-4 col-sm-4">
			<ul id="movies" class="list-group"></ul>
		</div>
	</div>
	
	
	
	<button class="btn btn-primary">Submit</button>

</form>

@section Scripts
{

	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="lib/toastr.js/toastr.min.js"></script>
	<script>
		$(document).ready(function() {

			var vm = {
				movieIds: []
			};

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				prefetch: '../api/customers',
				remote: {
					url: '../api/customers?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#customer').typeahead({
					minLength: 3,
					highlight: true
				},
				{
					name: 'customers',
					display: 'name',
					source: customers
				}).on("typeahead:select",
				function(e, customer) {
					vm.customerId = customer.id;
				});


			var movies = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				prefetch: '../api/movies',
				remote: {
					url: '../api/movies?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#movie').typeahead({
					minLength: 2,
					highlight: true
				},
				{
					name: 'movies',
					display: 'name',
					source: movies
				}).on("typeahead:select",
				function(e, movie) {
					$("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

					$("#movie").typeahead("val", "");

					vm.movieIds.push(movie.id);
				});

			$.validator.addMethod("validCustomer",
				function() {
					return vm.customerId && vm.customerId !== 0;
				},
				"Please select a valid customer.");

			$.validator.addMethod("atLeastOneMovie",
				function() {
					return vm.movieIds.length > 0;
				},
				"Please select at least one movie.");

			var validator = $("#new-rental").validate({
				submitHandler: function() {

					$.ajax({
							url: "/api/newRental",
							method: "post",
							data: vm
						})
						.done(function() {
							console.log("done");
							toastr.success("Rentals successfully recorded.");

							$('#customer').typeahead("val", "");
							$('#movie').typeahead("val", "");
							$("#movies").empty();

							vm = {
								movieIds: []
							};

							validator.resetForm();

						})
						.fail(function() {
							toastr.error("Something went wrong.");
						});

					return false;
				}
			});


		});

	</script>
}
