@model IEnumerable<Vidly.Models.Movie>


@*
	TODO: 
		Add DataTables to this page
		Call the API using jQuery
		Add Edit and Delete buttons via javascript
		Add BootBox for delete confirmation
		Link edit button to /movies/edit/{id}
		optimize DataTables to delete from list AND db
		[] Use a DTO to return the Genre

*@

<h2>Movies</h2>

<p>
	@Html.ActionLink("New Movie", "New","Movies",
	null, new { @class="btn btn-primary mx-auto" })
</p>

<div>
	@if (!Model.Any())
	{
		<p>No movies to display.</p>
	}
	else
	{
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Movie Title</th>
					<th>Genre</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var movie in Model)
			{
				<tr>
					<td>
						@movie.Name
					</td>
					<td>
						@movie.Genre.Name
					</td>
					<td>
						@Html.ActionLink("Edit", 
							"Edit", 
							"Movies", 
							new { id = movie.Id}, 
							new { @class="btn btn-secondary"})
					</td>

				</tr>
			}
			</tbody>
		</table>
		

	}

</div>