@model IEnumerable<Vidly.Models.Customer>


<h2>Customers</h2>

@if (!Model.Any())
{
	<p>We don't have any customers yet!</p>
}
else
{
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Membership Type</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Model)
			{
				
				
				<tr>
					<td>
						@customer.Name
					</td>
					<td>
						@customer.MembershipType.MembershipTypeName
					</td>
					<td>
						@Html.ActionLink("Edit", 
							"Edit", 
							"Customers", 
							new { id = customer.Id}, 
							new { @class="btn btn-secondary"})
					</td>
				</tr>

			}
		</tbody>
	</table>
	

}